rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /system-control/{tenant}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.token.email == 'leo@gmail.com'
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /{topLevel}/{allPaths=**} {
      allow read, write: if topLevel != 'system-control' && request.auth != null;
    }

    match /{fileName} {
      allow read, write: if request.auth != null;
    }
  }
}
